<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-list>
        <mat-list-item>
          <nav>
            <a mat-button routerLink="dashboard" routerLinkActive="active">Dashboard</a>
          </nav>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a mat-button target="_blank">Add New Item</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a mat-button target="_blank">Remove An Item</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a mat-button target="_blank">Edit An Item</a>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
</mat-drawer-container>
