<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Select a business Account</h2>
            <mat-tab-group>
                <mat-tab label="Business">
                    <app-search-bar></app-search-bar>
                    <div class="business-list">
                        <app-business-list></app-business-list>
                    </div>
                </mat-tab>
                <mat-tab label="Individual">
                    <app-search-bar></app-search-bar>
                    <div class="business-list">
                        <app-business-list></app-business-list>
                    </div>
                </mat-tab>
              </mat-tab-group>              
        </div>
        <div class="col-sm">
            <h2>Create a new business Account</h2>
            <mat-tab-group>
                <mat-tab label="Business">
                    <app-new-business></app-new-business>
                </mat-tab>
                <mat-tab label="Individual">
                    <app-new-business></app-new-business>
                </mat-tab>
              </mat-tab-group>  
        </div>
    </div>
</div>