<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>{{selectAccountHeader}}</h3>
            <mat-tab-group (selectedTabChange)="setSelectAccountHeader($event)">
                <mat-tab label="Business">
                    <app-search-bar [tabIndex]="tabIndex"></app-search-bar>
                    <div class="business-list">
                        <app-business-list></app-business-list>
                    </div>
                </mat-tab>
                <mat-tab label="Individual">
                    <app-search-bar></app-search-bar>
                    <div class="business-list">
                        <app-business-list></app-business-list>
                    </div>
                </mat-tab>
              </mat-tab-group>              
        </div>
        <div class="col-sm">
            <h3>{{createAccountHeader}}</h3>
            <mat-tab-group (selectedTabChange)="setCreateAccountHeader($event)">
                <mat-tab label="Business">
                    <app-new-business></app-new-business>
                </mat-tab>
                <mat-tab label="Individual">
                    <app-new-business></app-new-business>
                </mat-tab>
              </mat-tab-group>  
        </div>
    </div>
</div>