<div class="container">
    <div class="row decoration shadow-lg p-3 mb-5 bg-white rounded">
        <div class="col-sm">
            <h2>Select a business Account</h2>
            <mat-tab-group>
                <mat-tab label="Business">
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Search</mat-label>
                          <input type="search" matInput placeholder="Ex. my local business" value="">
                        </mat-form-field>
                    </form>
                    <div class="business-list">
                        <app-business-list></app-business-list>
                    </div>
                </mat-tab>
                <mat-tab label="Individual">
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Search</mat-label>
                          <input type="search" matInput placeholder="Ex. my local business" value="">
                        </mat-form-field>
                    </form>
                    <div class="business-list">
                        <app-business-list></app-business-list>
                    </div>
                </mat-tab>
              </mat-tab-group>              
        </div>
        <div class="col-sm">
            <h2>Create a new business Account</h2>
            <mat-tab-group>
                <mat-tab label="Business">
                    <app-new-business></app-new-business>
                </mat-tab>
                <mat-tab label="Individual">
                    <app-new-business></app-new-business>
                </mat-tab>
              </mat-tab-group>  
        </div>
    </div>
</div>