.decoration {
    margin: 2em;
    overflow: hidden;
    max-height: 700px;
}

h2 {
    padding: 1em;
    padding-left: 0.7em;
}

.business-list{
    max-height: 369px;
    overflow-y: auto;
}

.example-form {
    min-width: 150px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }